<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">    <title>Login</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="page-header">Login</h1>
      {% if form.errors %}
        <p style="color:red">Invalid username and password.</p>
      {% endif %}
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
	<div class="form-group">
          {{ form.username.label_tag }}
	  <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"{% if form.username.value %} value="{{ form.username.value }}{% endif %}"/>
	</div>
	<div class="form-group">
          {{ form.password.label_tag }}
	  <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}"{% if form.password.value %} value="{{ form.password.value }}"{% endif %}/>
	</div>
        <button type="submit" class="btn btn-default">Log In</button>
        <input type="hidden" name="next" value="{{ next }}"/>
      </form>
    </div>
  </body>
</html>
