<div ng-if="error" class="page-header">
  <h1>Error loading word list</h1>
  <p>{{error}} ({{error_status}})</p>
</div>
<div class="page-header" ng-if="loading">Loading... <i class="fa fa-spinner fa-spin"></i></div>
<div ng-if="!error && !loading">
  <div class="page-header"><h1>Browse</h1></div>
  
  <div class="row col-sm-12"><p>
    <button class="btn btn-primary" ng-if="previous_page_url" ng-click="previous_page()">Previous</button>
    <button class="btn btn-primary" ng-if="next_page_url" ng-click="next_page()">Next</button>
  </p></div>

  <div class="row col-sm-12">
    <ul>
      <li ng-repeat="word in words"><a href="#!/browse/{{word.id}}">{{word.word}}</a><span ng-if="show_pinyin"> ({{word.pinyin | pinyin}})</span></li>
    </ul>
  </div>

  <div class="row col-sm-12" style="padding-top:15px" ng-if="all_tags">
    <p>Filter by tag: <span ng-repeat="t in all_tags"><a href="#!/browsetag/{{t}}" ng-if="t != tag">{{t}}</a><b ng-if="t == tag">{{t}}</b> | </span><a href="#!/browse" ng-if="tag">All</a><b ng-if="!tag">All</b></p>
    <p>Sort by:<span ng-repeat="o in available_orders"> <button class="btn btn-default" ng-disabled="params.order == o" ng-click="set_order(o)">{{o}}</button></span></p>
  </div>

  <div class="row col-sm-4">
    <label>Words per page</label><input class="form-control" type="text" ng-model="params.words_per_page"/>
    <button class="btn btn-default" ng-click="load_words(make_url())">Go</button>
  </div>
</div>
