<div class="container-fluid">
  <div class="page-header" ng-if="error">
    <h1>Could not load flashcard</h1>
    <p>{{error}} ({{error_status}})</p>
  </div>
  <span ng-if="!error">
    <div class="row page-header">
      <div class="col-sm-8">
        <h1 style="margin-top:0">{{word.word}}</h1>
      </div>
      <div class="col-sm-4 confidence">
        <span style="padding-right: 5px">Confidence: {{word.confidence}}</span>
        <button type="button" class="btn btn-success" ng-click="increase_confidence()" ng-disabled="!enable_confidence">+1</button>
        <button type="button" class="btn btn-danger" ng-click="decrease_confidence()" ng-disabled="!enable_confidence">-1</button>
      </div>
    </div>
    <div class="row col-sm-12" ng-if="show_pinyin_hint">
      <p class="lead">{{ word.pinyin | pinyin }}</p>
    </div>
    <div class="row col-sm-12" ng-if="show_examples_hint && !show_answer">
      <p>Examples:</p>
      <ul>
        <li ng-repeat="es in examples">{{es.sentence}}<span ng-if="show_pinyin"> ({{es.pinyin | pinyin}})</span></li>
      </ul>
      <p ng-if="!examples.length"><i>None provided</i></p>
    </div>
    <div class="row col-sm-12" ng-if="show_answer">
      <div class="panel panel-primary" ng-repeat="def in word.definitions">
        <div class="panel-heading">
	  {{def.definition}}
	</div>
        <div class="panel-body">
	  <p ng-repeat="s in def.example_sentences">{{s.sentence}}<span ng-if="show_pinyin"> ({{s.pinyin | pinyin}})</span> - {{s.translation}}</p>
	  <p ng-if="!def.example_sentences.length"><i>No examples provided</i></p>
	</div>
      </div>
      <p><a href="#/browse/{{word.id}}">Full entry for this word</a></p>
    </div>
    <div class="row col-sm-12">
      <button class="btn btn-warning" ng-click="set_show_pinyin_hint()" ng-if="!show_pinyin_hint">Show Pinyin</button>
      <button class="btn btn-warning" ng-click="set_show_examples_hint()" ng-if="!show_examples_hint">Show Example Usage</button>
      <button class="btn btn-danger" ng-click="set_show_all()" ng-if="!show_answer">Show All</button>
      <button class="btn btn-primary" ng-click="next_flashcard()">Next Flashcard</button>
    </div>
    <div class="row col-sm-12" style="padding-top:15px" ng-if="all_tags">
      <p>Filter by tag: <span ng-repeat="t in all_tags"><a href="#/flashcard/{{t}}" ng-if="t != tag">{{t}}</a><b ng-if="t == tag">{{t}}</b> | </span><a href="#/flashcard" ng-if="tag">All</a><b ng-if="!tag">All</b></p>
    </div>
  </span>
</div>
