<div class="container-fluid page-header">
  <div ng-if="error">
    <h1>Could not load word {{word_id}}</h1>
    <p>{{error}} ({{error_status}})</p>
  </div>
  <div class="row" ng-if="!error">
    <div class="col-xs-8">
      <h1 style="margin-top:0">
        {{word.word}}<span ng-if="show_pinyin"> ({{word.pinyin}})</span>
      </h1>
    </div>
    <div class="col-xs-4 confidence">
      <span style="padding-right: 5px">Confidence: {{word.confidence}}</span>
      <button type="button" class="btn btn-success">+1</button>
      <button type="button" class="btn btn-danger">-1</button>
    </div>
  </div>
  <div class="panel panel-primary" ng-repeat="def in word.definitions">
    <div class="panel-heading">
      {{def.definition}}<span ng-if="def.part_of_speech.trim() != ''"> ({{def.part_of_speech}})</span>
    </div>
    <div class="panel-body">
	<p ng-repeat="s in def.example_sentences">{{s.sentence}}<span ng-if="show_pinyin"> ({{s.pinyin}})</span> - {{s.translation}}</p>
    </div>
  </div>
</div>
