<div class="container-fluid">
  <div class="page-header" ng-if="error">
    <h1>Could not load word {{word_id}}</h1>
    <p>{{error}} ({{error_status}})</p>
  </div>
  <span ng-if="!error">
    <div class="row page-header">
      <span ng-if="!editing">
        <div class="col-sm-8">
          <h1 style="margin-top:0">
            {{word.word}}<span ng-if="show_pinyin"> ({{word.pinyin | pinyin}})</span>
          </h1>
  	(<a href="{{word.word | mdbglink}}" target="_blank">MDBG</a>)
        </div>
        <div class="col-sm-4 confidence">
          <span style="padding-right: 5px">Confidence: {{word.confidence}}</span>
          <button type="button" class="btn btn-success" ng-click="increase_confidence()" ng-disabled="!enable_confidence">+1</button>
          <button type="button" class="btn btn-danger" ng-click="decrease_confidence()" ng-disabled="!enable_confidence">-1</button>
        </div>
      </span>
      <div class="col-sm-12" ng-if="editing">
        <input type="text" class="form-control" placeholder="词语" ng-model="word.word"/>
        <input type="text" class="form-control" placeholder="Pinyin" ng-model="word.pinyin"/>
        <a href="{{word.word | mdbglink}}" target="_blank" ng-if="word.word">MDBG lookup</a> <span ng-if="word.pinyin">({{word.pinyin | pinyin}})</span>
      </div>
    </div>
    <div class="panel panel-primary" ng-repeat="def in word.definitions">
      <div class="panel-heading">
        <span ng-if="!editing"><span class="badge" ng-if="def.part_of_speech.trim() != ''">{{def.part_of_speech}}</span> {{def.definition}}</span>
        <span ng-if="editing">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Definition" ng-model="def.definition"/>
              </div>
              <div class="col-sm-1">
                <select class="form-control" ng-model="def.part_of_speech" ng-options="p for p in parts_of_speech"></select>
              </div>
              <div class="col-sm-1">
                <button class="btn btn-danger" ng-click="delete_definition(def)">Delete</button>
              </div>
            </div>
          </form>
        </span>
      </div>
      <div class="panel-body">
        <p ng-if="!def.example_sentences.length"><i>(No examples entered)</i></p>
        <span ng-repeat="s in def.example_sentences">
          <p ng-if="!editing">{{s.sentence}}<span ng-if="show_pinyin"> ({{s.pinyin | pinyin}})</span> - {{s.translation}} (<a href="{{s.sentence | mdbglink}}" target="_blank">MDBG</a>)</p>
          <div ng-if="editing" class="example-sentence-edit">
            <input class="form-control" placeholder="句子" ng-model="s.sentence"/><span ng-if="s.sentence">(<a href="{{s.sentence | mdbglink}}" target="_blank">MDBG</a>)</span>
            <input class="form-control" placeholder="Pinyin" ng-model="s.pinyin"/>
            <span ng-if="s.pinyin">{{s.pinyin | pinyin}}</span>
            <input class="form-control" placeholder="Translation" ng-model="s.translation"/>
            <button class="btn btn-danger" ng-click="delete_example_sentence(def, s)">Delete</button>
	  </div>
	</span>
	<button class="btn btn-info" ng-if="editing" ng-click="add_example_sentence(def)">Add Example</button>
      </div>
    </div>
    <button class="btn btn-info" ng-if="editing" ng-click="add_definition()">Add Definition</button>
    <div class="row col-sm-12">
      <div ng-if="word.notes.trim() != ''">
        <h4>Notes</h4>
        <p ng-if="!editing">{{word.notes}}</p>
        <textarea ng-if="editing" class="form-control" ng-model="word.notes"></textarea>
      </div>
      <div ng-if="editing || word.related_words.length > 0">
        <h4>Related words</h4>
        <ul ng-if="!editing"><li ng-repeat="w in word.related_words"><a href="#/browse/{{w.id}}">{{w.word}}</a><span ng-if="show_pinyin"> ({{w.pinyin | pinyin}})</span></li></ul>
        <div ng-if="editing">
          <form class="form-horizontal" role="form">
            <div class="form-group tag-form-row" ng-repeat="w in word.related_words">
              <div class="col-sm-2"><input class="form-control" ng-if="w.new" ng-model="w.word"/><span ng-if="!w.new">{{w.word}}</span></div>
              <div class="col-sm-2"><button class="btn btn-danger" ng-click="remove_related_word(w)">Remove</button></div>
            </div>
            <div class="form-group col-sm-12"><button class="btn btn-info" ng-click="add_related_word()">Add Related Word</button></div>
          </form>
        </div>
      </div>
      <div ng-if="editing || word.tags.length > 0">
        <h4>Tags:</h4>
        <ul ng-if="!editing">
          <li ng-repeat="tag in word.tags"><a href="#/browsetag/{{tag.tag}}">{{tag.tag}}</a> (<a href="#/flashcard/{{tag.tag}}">flashcard</a>)</li>
        </ul>
        <div ng-if="editing">
          <form class="form-horizontal" role="form">
            <div class="form-group tag-form-row" ng-repeat="tag in word.tags">
              <div class="col-sm-2"><input class="form-control" ng-if="tag.new" ng-model="tag.tag"/><span ng-if="!tag.new"><b>{{tag.tag}}</b></span></div>
              <div class="col-sm-2"><button class="btn btn-danger" ng-click="remove_tag(tag)">Remove</button></div>
            </div>
            <div class="form-group col-sm-12"><button class="btn btn-info" ng-click="add_tag()">Add Tag</button></div>
          </form>
        </div>
      </div>
      <p ng-if="!editing"><small>Added: <i>{{word.date_added | date:'medium'}}</i><br/>Last modified: <i>{{word.last_modified | date:'medium'}}</i></small></p>
    </div>
    <div class="row col-sm-12" style="margin-top:10px">
      <button type="button" class="btn btn-warning" ng-if="!editing" ng-click="edit()">Edit</button>
      <button type="button" class="btn btn-primary" ng-if="editing" ng-click="save()">Save</button>
      <button type="button" class="btn btn-default" ng-if="editing" ng-click="cancel_edits()">Cancel</button>
    </div>
  </span>
</div>
