body {
  padding-top: 20px;
  padding-bottom: 30px;
}

.jianjin-main {
    margin: 20px;
}

.confidence {
    text-align: right;
    margin-bottom: 10px;
}

.example-sentence-edit {
    margin-bottom: 10px;
    padding: 5px;
}